body {
    font-family: Calibri, sans-serif;
}
h1 {
    background-color: black;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    border-radius: 20px;
    color: #ffffff;
    font-size: 56px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
        margin-bottom: 15px;
    padding: 10px;
}

.zadanie {
    background-color: saddlebrown;
    width: 300px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
}
.odp {
    background-color: #138b1f;
}